@page "/book"
@implements IDisposable
@implements IReservationObserver
@using Booking.Models
@using Booking.Grains
@using System.ComponentModel.DataAnnotations
@inject IGrainFactory GrainFactory
@inject IJSRuntime JsRuntime

<PageTitle>Book</PageTitle>

<h1>Book</h1>

@if (_rooms == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <EditForm Model="@_inputModel" OnValidSubmit="@FetchTimeSlots">
        <DataAnnotationsValidator />

        <select @bind="_inputModel.RoomId">
            @foreach(var room in _rooms)
            {
                <option value="@room.Id">@room.Name</option>
            }
        </select>

        <input type="date" @bind="_inputModel.Date" @bind:format="yyyy-MM-dd">

        <button type="submit">Select</button>
    </EditForm>

    <hr/>

    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Start</th>
            <th>Stop</th>
            <th>Available</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var timeSlot in _timeSlots)
        {
            <tr @onclick="() => Reserve(timeSlot.Id)"
                class="clickable"
                style="@(timeSlot.Available ? "" : "background-color: red")">
                <td>@timeSlot.Date</td>
                <td>@timeSlot.Start</td>
                <td>@timeSlot.End</td>
                <td>@timeSlot.Available</td>
            </tr>
        }
        </tbody>
    </table>

    <hr/>

    @if (_reservation is not null)
    {
        if (_reservation.Success)
        {
            var expiresIn = Math.Max(0, (int)(_reservation.ExpiresOn!.Value - DateTimeOffset.UtcNow).TotalSeconds);

            <p>Reservation expires in @(expiresIn) seconds.</p>
            <button type="submit" onclick="@CancelReservation">Cancel</button>
            <button type="submit" onclick="@CompleteBooking">Book</button>
        }
        else
        {
            <p style="color: red">Reservation failed.</p>
        }
    }
}

@code {

    public class InputModel
    {
        [Required]
        public string? RoomId { get; set; }

        public DateTime Date { get; set; } = DateTime.Today;
    }

    private IReadOnlyCollection<Room>? _rooms;
    private IReadOnlyCollection<TimeSlot> _timeSlots = Array.Empty<TimeSlot>();

    private readonly InputModel _inputModel = new();
    private Reservation? _reservation;
    private Timer? _timer;

    protected override async Task OnInitializedAsync()
    {
        var catalog = GrainFactory.GetGrain<IRoomCatalogGrain>(0);
        _rooms = await catalog.GetRooms();
        _inputModel.RoomId = _rooms.FirstOrDefault()?.Id;

        await FetchTimeSlots();
    }

    private async Task FetchTimeSlots()
    {
        var room = GrainFactory.GetGrain<IRoomGrain>(_inputModel.RoomId);

        _timeSlots = await room.GetTimeSlots(DateOnly.FromDateTime(_inputModel.Date));
    }

    private async Task Reserve(string timeSlotId)
    {
        var timeSlot = GrainFactory.GetGrain<ITimeSlotGrain>(timeSlotId);
        var observer = GrainFactory.CreateObjectReference<IReservationObserver>(this);
        _reservation = await timeSlot.Reserve(observer);

        _timer = new Timer(Tick, null, 0, 1000);
    }

    private async Task CancelReservation()
    {
        if (_reservation is null)
        {
            return;
        }

        var timeSlot = GrainFactory.GetGrain<ITimeSlotGrain>(_reservation.TimeSlotId);
        var success = await timeSlot.CancelReservation(_reservation.ReservationId!);

        await JsRuntime.InvokeVoidAsync("alert", success
            ? "Reservation cancelled successfully"
            : "Unable to cancel reservation");

        _reservation = null;

        Clear();
    }

    private async Task CompleteBooking()
    {
        if (_reservation is null)
        {
            return;
        }

        var timeSlot = GrainFactory.GetGrain<ITimeSlotGrain>(_reservation.TimeSlotId);
        var success = await timeSlot.Book(_reservation.ReservationId!);

        await JsRuntime.InvokeVoidAsync("alert", success
            ? "Booking completed successfully"
            : "Unable to complete booking");

        Clear();
    }

    private void Tick(object? _) => InvokeAsync(StateHasChanged);

    public void Dispose() => Clear();

    private void Clear()
    {
        _reservation = null;
        _timer?.Dispose();
        _timer = null;
    }

    public async Task OnReservationExpired()
    {
        await JsRuntime.InvokeVoidAsync("alert", "Reservation expired");

        Clear();
        await InvokeAsync(StateHasChanged);
    }

}